<launch>
	<arg name="model" value="$(find lab2)/urdf/dynamic.urdf" />
	<arg name="gui" value="True" />

	<param name="robot_description" textfile="$(arg model)" />
	<param name="use_gui" value="$(arg gui)"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find lab2)/urdf.rviz" required="true" />
</launch>
